{% extends 'layout.html' %}
{% block mainbody %}
<form method="post" action="{% url 'editpage' data.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="col-md-12 form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="{{ data.title }}" class="form-control">
        </div>
        <div class="col-md-12 form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description"  class="form-control">{{ data.description }}</textarea>
        </div>
        <div class="col-md-12 form-group">
            <label for="description">Article Image</label>
            <input type="file" id="image" name="articleimage" class="form-control">
        </div>
        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </div>
</form>
{% endblock mainbody %}