{% extends 'layout.html' %}
{% block mainbody %}
<div class="col-md-12">
    {% for data in articlelist %}
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ data.articleimage.url }}" width="96px" height="96px">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <a href=" {% url 'editpage' data.id %}" class="pull-right"><button class="btn btn-danger" style="padding:0px;padding:4px">edit</button></a>
                </div>
                <div class="row">
                    title : <h6>{{ data.title }}</h6>
                </div>
                 <div class="row">
                    postedat : <h6>{{ data.created_at }}</h6>
                </div>
            </div>
        </div>
        <p>{{ data.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock mainbody %}